@use "../../styles/partials/globals/mixins" as *;
@use "../../styles/partials/globals/fonts" as *;
@use "../../styles/partials/globals/colors" as *;

//    &:hover {
//     background-color: $brainflix-dark-blue;
//   }

.button {
  height: 36px;
  font-family: "TitilliumWeb";
  @include fonts(1.3rem, 2rem, 600);
  width: 100%;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  &__cancel {
    background-color: $white;
    border: solid 1px $cloud;
  }

  &__delete {
    background-color: $red;
    color: $white;
    flex-basis: 50%;
  }
}

//Styles for tablet
@include medium {
  .button {
    @include fonts(1.4rem, 2.2rem, 600);
    padding: 0 16px;
    height: 38px;
    width: 70px;
  }
}
