@use "../../styles/partials/globals/mixins" as *;
@use "../../styles/partials/globals/fonts" as *;
@use "../../styles/partials/globals/colors" as *;

.button {
  height: 3.6rem;
  font-family: "TitilliumWeb";
  @include fonts(1.3rem, 2rem, 600);
  border-radius: 2rem;
  border: none;
  flex-basis: 50%;

  &__cancel {
    background-color: $white;
    border: solid 1px $cloud;
    flex-basis: 100%;

    &:hover {
      cursor: pointer;
      color: $instock-indigo;
      border: solid 1px $instock-indigo;
    }
  }

  &__delete {
    background-color: $red;
    color: $white;

    &:hover {
      cursor: pointer;
      background-color: $graphite;
    }

    @include medium {
      height: 3.8rem;
      flex-basis: 7.2rem;
    }
  }

  &__add {
    background-color: $instock-indigo;
    color: $white;
    font-size: 1.3rem;
    line-height: 3.6rem;
    width: 100%;

    &:hover {
      background-color: $graphite;
      cursor: pointer;
    }

    @include medium {
      max-width: 16.8rem;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

  &__edit {
    flex-basis: 50%;

    @include medium {
      max-width: 13.8rem;
      height: 3.8rem;
    }
  }

  &__form-cancel {
    flex-basis: 50%;

    @include medium {
      max-width: 7.2rem;
      height: 3.8rem;
    }
  }

  &__save {
    color: $white;
    background-color: $instock-indigo;
    @include medium {
      max-width: 6.3rem;
    }
    &:hover {
      background-color: $graphite;
      cursor: pointer;
    }
  }
}
