:root {
  //primary
  --instock-black: #13182c;
  --instock-indigo: #2e66e5;
  --white: #ffffff;
  //secondary
  --slate: #5c667e;
  --cloud: #bdc5d5;
  //background
  --graphite: #232940;
  --light-grey: #f7f8f9;
  //supporting colors
  --green: #158463;
  --red: #c94515;
}
