$tablet-min-width: 768px;
$desktop-min-width: 1280px;

@mixin medium {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin large {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin fonts($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
