@use "../../styles/partials/globals/colors" as *;
@use "../../styles/partials/globals/mixins" as *;

.form {
  margin: -5.6rem 1.6rem 0;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

  @include medium {
    margin: -5.6rem 3.2rem 0;
  }

  @include large {
    margin: -5.6rem calc((100vw - 1020px) / 2) 0;
  }

  &__container {
    display: flex;
    padding: 3.2rem 0 2.4rem 2.8rem;

    @include medium {
      padding: 3.2rem 0 2.1rem 3.6rem;
      border-bottom: 1px solid $cloud;
    }

    @include large {
      padding: 3.2rem 0 2.1rem 4.4rem;
    }
  }

  &__arrow {
    margin-right: 1.2rem;
  }

  &__buttons {
    display: flex;
    gap: 1.6rem;
    padding: 1.6rem 2.4rem;
    background-color: $light-grey;

    @include medium {
      padding: 1.6rem 3.2rem;
      display: flex;
      justify-content: end;
    }

    @include large {
      padding: 1.6rem 4rem;
    }
  }

  &__container-cards {
    display: flex;
    flex-direction: column;

    @include medium {
      flex-direction: row;
    }
  }
}
