@use "../../styles/partials/globals/mixins" as *;
@use "../../styles/partials/globals/colors" as *;
@use "../../styles/partials/globals/resets" as *;

.header {
  background-color: $graphite;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 3.039rem 1.6rem 2.4rem;
  gap: 2.871rem;

  @include medium {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.4rem 3.2rem;
  }

  @include large {
    // may need to double check calculation
    padding: 2.4rem calc((100vw - 1020px) / 2);
  }

  &__logo {
    height: 1.69rem;
    width: 8.981rem;

    &:hover {
      cursor: pointer;
    }

    @include medium {
      margin-top: 0;
    }

    &-link {
      width: 8.981rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-self: normal;

    @include medium {
      align-items: center;
    }

    &-item {
      font-family: "TitilliumWeb";
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 2rem;
      color: $cloud;
      // figma default 16.3rem but at 320px screen width item goes out of bounds
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 16.4rem;
      min-width: 14.5rem;

      @include medium {
        height: 3.8rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
        min-width: 10.7rem;
      }

      &--selected {
        color: $white;
        background: $instock-black;
        height: 3.6rem;
        width: 100%;
        border-radius: 2rem;

        @include medium {
          height: 3.8rem;
          width: 10.7rem;
        }
      }

      &--unselected {
        height: 2.2rem;
        width: 16.4rem;
        text-align: center;
        display: flex;
        align-self: center;
        justify-content: center;

        @include medium {
          height: 2.2rem;
          width: 10.7rem;
          width: 5.8rem;
        }
      }
    }
  }

  &__text {
    justify-content: center;
    align-items: center;

    &--selected {
      &:hover {
        text-decoration: underline;
        color: $white;
      }
    }

    &--unselected {
      width: 5rem;
      text-align: center;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: $white;
      }
    }
  }

  &__inventory-link {
    width: 5rem;
  }
}
