@use "../../styles/partials/globals/fonts" as *;
@use "../../styles/partials/globals/mixins" as *;
@use "../../styles/partials/globals/colors" as *;

.warehouse-list {
  margin: -5.6rem 1.6rem 0;
  background-color: $white;

  @include medium {
    margin: -5.6rem 2.4rem 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1.6rem;

    @include medium {
      flex-direction: row;
      align-items: center;
      margin: 0 2.4rem;
    }
  }

  &__title {
    margin-top: 2.4rem;
    align-self: flex-start;

    @include medium {
      margin-top: 0;
      margin-right: auto;
      align-self: center;
    }
  }

  &__search {
    display: flex;
    width: 100%;
    margin: 1.6rem 0;

    @include medium {
      width: fit-content;
      margin-right: 2.4rem;
    }
  }

  &__search-field {
    font-family: "TitilliumWeb";

    height: 3.6rem;
    width: 100%;
    padding: 1.6rem;
    border-radius: 2rem;
    border: 1px solid $cloud;

    @include medium {
      height: 3.8rem;
    }

    &::placeholder {
      color: $slate;
    }
    &:focus {
      border: 1px solid $instock-indigo;
    }
  }

  &__search-button {
    background-color: transparent;
    margin-left: -3.6rem;
    border: none;
  }

  &__table-headers {
    display: none;

    @include medium {
      display: flex;
      justify-content: space-between;
      padding: 0.8rem 2.4rem;
      background-color: $light-grey;
    }
  }

  &__table-header-item {
    display: flex;
    align-items: center;
    flex-basis: 20%;
  }

  &__sort-button {
    border: none;
    background-color: transparent;
  }

  &__container {
    margin-top: 1.6rem;

    @include medium {
      margin-top: 0;
    }
  }
}
