@use "../../styles/partials/globals/mixins" as *;
@use "../../styles/partials/globals/fonts" as *;
@use "../../styles/partials/globals/colors" as *;

.container {
  margin: 3rem;
  height: 100%;
}

.link {
  width: 100%;
}

.title {
  margin: 4rem 0;
}

.button__margins {
  margin: 0 15px;
}
.buttons-container {
  display: flex;
  // justify-content: space-between;
  position: fixed;
  bottom: 0;
  padding: 0px 40px 20px 0px;
  width: 100%;
}

.icon-close {
  display: block;
  margin-left: auto;
}

//Styles for tablet
@include medium {
  .container {
    height: 60%;
  }
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 80px 20px 20px;
    width: 100%;
    position: relative;
  }

  .link {
    width: 15%;
  }
}
